That's a search <br />
Keyword: <%= @keyword %><br />
Type: <%= @type %><br />
Method: <%= @method %><br />
Produce: <%= @produce %><br />

<h2>Results</h2>
<table>
		<% @articles.each do |a| %>
			<tr>
				<td><%= a.title %></td>
			</tr>
		<% end %>
</table>