<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div>
      <h2><%= pluralize(@article.errors.count, "error") %> prevented this article from being saved</h2>

      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</br>
<div  id="form-bar" class="nav span12">
    <%= f.text_field :title, :placeholder=>'Title' %>

    <%= f.select :type, [['Type', nil], ['DIY', 'Do-It-Yourself'], ['Commercial', 'Commercial'], ['Research', 'Research']]  %>

    <%= f.select :method, [['Method', nil], ['Drying', 'Drying'], ['Steaming/Boiling', 'Steaming/Boiling'], ['Heating', 'Heating'], ['Cooling', 'Cooling'], ['Electricity', 'Electricity']]  %>

    <%= f.select :produce, [['Produce', nil], ['Metalwork', 'Metalwork'], ['Agriculture', 'Agriculture'], ['Food processing', 'Food Processing'], ['Textile', 'Textile'], ['Leather', 'Leather'], ['Salt', 'Salt'], ['Tourism', 'Tourism']]  %>

    <%= f.submit "Publish",:class=>"ssubmit" %>
</div>
<div id="form-area">
    <%= f.text_area :content, :placeholder=>'Content', :rows => "30",:style=>"width:100%;" %>
</div>
<% end %>
