

	<div id="article-head">
			<p>Jhon Doe</p>
			<%= @article.created_at.strftime("%d %b. %Y") %>
		
		<div id="article-meta">
			<p>Type: <%= @article.type %></p>
			<p>Method: <%= @article.method %></p>
			<p>Produce: <%= @article.produce %></p>
		</div>
	</div>

<br/>
<h1><%= @article.title %></h1>

<br/>

<p><%=simple_format @article.content %></p>
