

	<div id="article-head">
			<p><%= @article.user.username %></p>
			<%= @article.created_at.strftime("%d %b. %Y") %>
		
		<div id="article-meta">
			<p>Type: <%= @article.type %></p>
			<p>Method: <%= @article.method %></p>
			<p>Produce: <%= @article.produce %></p>
		</div>
	</div>

<br/>
<h1><%= @article.title %></h1>

<br/>

<p><%=simple_format @article.content %></p>

<div id="related">
<% if !@related.empty? %>
	<table>
		<legend><h3>Related articles</h3></legend>
		<% @related.each do |article| %>
			<tr>
				<td><h3><%= link_to article.title, article %></h3></td>
				<td><%= article.created_at.strftime("%d %b. %Y") %></td>
			</tr>
	 	<% end %>
	</table>
<% end %>

<% if @rel_com %>
	<table>
		<legend><h3>Related commercial option</h3></legend>
		<tr>
			<td><h3><%= link_to @rel_com.title, @rel_com %></h3></td>
			<td><%= @rel_com.created_at.strftime("%d %b. %Y") %></td>
		</tr>
	</table>
<% end %>
</div>
