
<div class="row-fluid">
	<div class="sidebar span12">
		<div class="sidelabel"><b><%= link_to @new_article.title, article_path(@new_article.id) %></b></div>
		<div class="sidedesc"><p><%= @new_article.type + ", " + @new_article.method + ", " + @new_article.produce %></p></div>
		<div class="sidebody"><p><%= truncate(@new_article.content, length: 140) %></p></div>
	</div>
</div>
<div class="row-fluid">
	<div class="sidebar span12">
		<div class="sidelabel"><b><%=  link_to @new_com_article.title, article_path(@new_com_article.id) %></b></div>
		<div class="sidedesc"><p><%= @new_com_article.type + ", " + @new_com_article.method + ", " + @new_com_article.produce %></p></div>
		<div class="sidebody"><p><%= truncate(@new_com_article.content, length: 140) %></p></div>
	</div>
</div>

