<!DOCTYPE html>
<html>
<head>
	<title>Mockup</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="wrapper">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12 nav">
					<div class="span2 offset1">logo</div>
					<div class="span5">
						<ul class="navigation">
							<li><a href="">Home</a></li>
							<li><a href="">About us</a></li>
							<li><a href="">DIY</a>
								<ul>
									<li><a href="">Guides</a></li>
									<li><a href="">Step-by-step</a></li>
									<li><a href="">FAQ</a></li>
									<li><a href="">Submit</a></li>
								</ul>
							</li>
							<li><a id="search-toggle">Search</a></li>
							<div class="clear"></div>
						</ul>
					</div>
					<div class="span1 offset3">
							<% if current_user %>
							<%= link_to 'Logout', log_out_path, :class=>"btn"%>
							<% else %>
							<%= link_to 'Login', log_in_path, :class=>"btn"%>
							<% end %>
					</div>
				</div>
			</div>
			<div id="search-div" class="row-fluid"> 
				<div class="span1"></div>
				<div class="span10">
					<%= form_tag(search_path, method: "get") do %>
					    <%= text_field_tag "keyword", nil, :placeholder => 'Search' %>
					    <%= select_tag "type", '<option value="">Type</option><option value="DIY">Do-It-Yourself</option><option value="Commercial">Commercial</option><option value="Research">Research</option>'.html_safe  %>
					    <%= select_tag "method", '<option value="">Method</option><option value="Drying">Drying</option><option value="Steaming/Boiling">Steaming/Boiling</option><option value="Heating">Heating</option><option value="Cooling">Cooling</option><option value="Electricity">Electricity</option>'.html_safe  %>
					    <%= select_tag "produce", '<option value="">Produce</option><option value="Metalwork">Metalwork</option><option value="Agriculture">Agriculture</option><option value="Food processing">Food Processing</option><option value="Textile">Textile</option><option value="Leather">Leather</option><option value="Salt">Salt</option><option value="Tourism">Tourism</option>'.html_safe  %>
					    <%= submit_tag "Go", :class=>"ssubmit" %>
					<% end %>
				</div>
				<div class="span1"></div>
			</div>
		</div>

		<div class="container-fluid ">
			<div class="row-fluid">
				<div class="span1"></div>
				<div class="span10 stage">
					<div class="row-fluid">
						<div class="span8 content">
							<div class="row-fluid">
								<%= yield %>
							</div>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
							</br>
						</div>
						<div class="span4 hidden-phone">
							<%= render :partial => 'layouts/sidebar' %>
						</div>
					</div>
				</div>
				<div class="span1"></div>
			</div>
		</div>
		<div class="push"></div>
	</div>
	<div class="footer footnote">
		<p>Copyright (c) 2013</p>
	</div>
</body>
</html>

